<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Curso Vue</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<div id="app">
		<input type="text" v-model="taskToDo" @keyup.enter="addTaskToDo" >
		<ul>
			<li v-for="task in taskForUser"
					@click="completeTask(task)"
					@contextmenu = "changePriority(task)"
			>
				{{task.text}}
			</li>
		</ul>
		<pre>
			{{ $data }}
		</pre>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>