<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Curso Vue</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div id="app">
  <input type="text" v-model="movieTitle" placeholder="ingresa tu busqueda">
  <ul>
    <li v-for="movie in findByTitle">
      <img :src="movie.image" alt="" class="imageRender">
      {{movie.name}}
    </li>
  </ul>
  <pre>
			{{ $data }}
		</pre>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/movies.js"></script>
</body>
</html>